$fontNav: 'Abril Fatface', cursive;
$fontNavColor: #97834D;
$fontNavColorHover: #E4CC8A;
$fontNavBackground: #cccccc;
$fontNavBackgroundHover: #999999;
$fontText: 'Roboto', sans-serif;
$fontDecoration: 'Ranga', cursive;
$fontColor: #444444;
$background: #cccccc;
$animation: .3s all linear;
