$fontNav: 'Abril Fatface', cursive;
$fontNavColor: #97834D;
$fontNavColorHover: #E4CC8A;
$fontNavBackground: #bdb8b5;
$fontNavBackgroundHover: #815b34;
$fontText: 'Roboto', sans-serif;
$fontDecoration: 'Ranga', cursive;
$fontColor: #444444;
$background: #cccccc;
$background-wrapper: rgba(0, 0, 0, .5);
$animation: .3s all linear;
$radius: 3rem;
