$fontNav: 'Chonburi', cursive;
$fontNavColor: #97834D;
$fontNavColorHover: #E4CC8A;
$fontNavBackground: #bdb8b5;
$fontNavBackgroundHover: #815b34;
$fontText: 'Times New Roman', sans-serif;
$fontDecoration: 'Ranga', cursive;
$fontColor: #444444;
$background: #cccccc;
$background-wrapper: rgba(0, 0, 0, .8);
$animation: .35s all linear;
$radius: 3rem;
