@import 'variables';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: $background;
}

body {
  font: {
    family: $fontText;
    size: 1.6rem;
  }
  color: $fontColor;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img, embed, object, video {
  max-width: 100%;
}

a:link {
  color: $fontNavColor;
  text-decoration: none;
  transition: $animation;
}

a:visited {
  color: $fontNavColor;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $fontNavColorHover;
}

a:active {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  // =NAVBAR
  .navbar.open {
    left: 0;
    z-index: 500;
  }
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: -800px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: $fontNavBackground;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 300;
    margin-top: 5rem;
    width: 100%;
    height: calc(100% - 5rem);
    transition: $animation;

    & > .navlabel {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $fontNavBackground;
      width: 100%;
      height: 14.2%;
      text-align: center;
      border-bottom: 2px solid $fontNavColor;
      z-index: 500;
    }

    & > .navlabel:first-child {
      border-top: 2px solid $fontNavColor;
    }

    .navlabel:hover {
      background: $fontNavBackgroundHover;
      & > .navtext {
        color: $fontNavColorHover;
      }
    }
    .navtext {
      font: {
        family: $fontNav;
        size: 1.6rem;
      }
      line-height: 1.6rem;
      letter-spacing: 1px;
      color: $fontNavColor;
      user-select: none;
      transition: $animation;
      z-index: 500;
    }
  }
  .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background: $fontNavBackground;
    cursor: pointer;
    margin: 0 auto;
    z-index: 700;

    & > .hamburger-panel {
      background-color: $fontNavColor;
      width: 3rem;
      height: .6rem;
      margin-bottom: 0.6rem;
      transition: $animation;
    }

    &.open {
      .hamburger-1 {
        transform: translateY(1.2rem) rotate(45deg);
      }

      .hamburger-2 {
        opacity: 0;
      }

      .hamburger-3 {
        transform: translateY(-1.2rem) rotate(-45deg);
      }
    }
  }
  .hamburger::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $fontNavBackground;
    z-index: -100;
  }
  // =GENERALS
  .page-title {
    font: {
      family: $fontNav;
      size: 2rem;
    }
    margin: 1rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
  }
  .page-paragraph {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    padding: 0 3rem;
    margin: 2rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
  }
  // =HEADER
  #sectionHeader {
    width: 100vw;
    height: 100vh;
    background: {
      image: url('/images/page-main.jpg');
      position-x: center;
      position-y: 55%;
      size: cover;
      repeat: no-repeat;
    }
    position: relative;
    & > .header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 2rem;
      width: 95vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;
    }
  }
  // =STUDENTS SUCCESS
  #sectionSuccessPanel {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-success.jpg');
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
    & > .success-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 2rem;
      width: 95vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;
      & > .p-hidden {
        display: block;
        font: {
          family: $fontNav;
          size: 1.8rem;
        }
        padding: 1rem;
        color: $fontNavColorHover;
        text-align: center;
      }

      .bx-wrapper {
        display: none;
      }
    }
  }

  // =SECTION VIDEO
  #sectionLessonsVideo {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-video.jpg');
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
    .video-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 2rem;
      width: 95vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

        & > #video {
          width: 90%;
          height: auto;
        }
        & > .video-button {
          font: {
            family: $fontNav;
            size: 1.6rem;
          }
          width: 90%;
          text-align: center;
          line-height: 2rem;
          padding: 1.5rem;
          border-radius: $radius;
          margin: 2rem 5%;
          color: $fontNavColor;
          background-color: $fontNavBackground;
          transition: $animation;

          &:hover {
            color: $fontNavColorHover;
            background-color: $fontNavBackgroundHover;
          }
        }
      }
    }
  }
    // =REFERENCES
    #sectionReferences {
      width: 100vw;
      height: 100vh;
      position: relative;
      background: {
        image: url('/images/page-reference.jpg');
        position-x: center;
        position-y: 60%;
        size: cover;
        repeat: no-repeat;
      }
      & > .references-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: absolute;
        width: 95vw;
        height: auto;
        max-height: 100vh;
        margin-top: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background-wrapper;
        border-radius: $radius;
        & > .bx-wrapper {
          & > .bx-viewport {
            & > .bxslider {
              & > .references-page {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                & > .references-paragraph {
                  font: {
                    family: $fontDecoration;
                    size: 1.6rem;
                  }
                  line-height: 1.6rem;
                  width: 90%;
                  color: $fontNavBackground;
                }
                & > .references-author {
                  font: {
                    family: $fontNav;
                    size: 1.4rem;
                  }
                  color: $fontNavColorHover;
                  margin: 0;
                  padding: 0;
                  width: 90%;
                }
              }
            }
          }
          & > .bx-controls {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            top: 0;
            left: 0;
            font: {
              family: $fontNav;
            }
            & > .bx-controls-direction {
              & > .bx-prev {
                display: none;
              }
              & > .bx-next {
                display: none;
              }
            }
            & > .bx-pager {
              text-align: center;
              font-size: .85em;
              font-weight: bold;
              color: #666;
              & > .bx-pager-item {
                margin: 2rem 1rem;
                display: inline-block;
                vertical-align: bottom;
                & > .bx-pager-link {
                  font: {
                    size: 2rem;
                  }
                }
                & > .bx-pager-link.active {
                  color: $fontNavColorHover;
                }
              }
            }
          }
        }
      }
    }
    // =PRICE
    #sectionPrices {
      width: 100%;
      height: 100vh;
      position: relative;
      background: {
        image: url('/images/page-prices.jpg');
        position-x: center;
        position-y: 70%;
        size: cover;
        repeat: no-repeat;
      }
      & > .prices-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 95vw;
        height: auto;
        max-height: 100vh;
        margin-top: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background-wrapper;
        border-radius: $radius;
        & > div {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: space-between;
          border-top: 2px $fontNavColorHover solid;
          width: 75%;
          margin: 0;
          padding: 0;
        }

        & > div > p {
          font: {
            family: $fontDecoration;
            size: 2rem;
          }
          width: 45%;
          margin: .5rem 0;
          padding: 0;
          color: $fontNavBackground;
        }

        & > div > p > .prices-color {
          color: $fontNavColorHover;
        }
      }
    }
    // =CONTACT
    #sectionContact {
      width: 100vw;
      height: 100vh;
      position: relative;
      background: {
        image: url('/images/page-contact.jpg');
        position-x: center;
        position-y: 95%;
        size: cover;
        repeat: no-repeat;
      }
      & > .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        width: 95vw;
        height: auto;
        max-height: 100vh;
        margin-top: 2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $background-wrapper;
        border-radius: $radius;

        & > div {
          display: flex;
          justify-content: center;
          text-align: center;
          border-top: 2px $fontNavColorHover solid;
          width: 75%;
          margin: 0;
          padding: 0;
        }

        & > div > p {
          font: {
            family: $fontDecoration;
            size: 2rem;
          }
          margin: .5rem 0;
          padding: 0;
          color: $fontNavBackground;
        }
        & > div > .contact-color {
          color: $fontNavColorHover;
        }
      }
    }

@media only screen and (orientation: portrait) and (max-width: 767px) {
  // =SUCCESS PANEL
  #sectionSuccessPanel {
    .success-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 2rem;
      width: 95vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > .p-hidden {
        display: none;
      }
      /** VARIABLES
  ===================================*/
      /** RESET AND LAYOUT
      ===================================*/
      .bx-wrapper {
        display: block;
        position: relative;
        margin-bottom: 6rem;
        padding: 0;
        *zoom: 1;
        touch-action: pan-y;
      }
      .bx-wrapper img {
        max-width: 100%;
        display: block;
      }
      .bxslider {
        margin: 0;
        padding: 0;
      }
      ul.bxslider {
        list-style: none;
      }
      .bx-viewport {
        /*fix other elements on the page moving (on Chrome)*/
        -webkit-transform: translatez(0);
      }
      /** THEME
      ===================================*/
      .bx-wrapper {
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        border: 5px solid $fontNavBackground;
        background: $fontNavBackground;
      }
      .bx-wrapper .bx-pager,
      .bx-wrapper .bx-controls-auto {
        position: absolute;
        width: 100%;
      }
      /* LOADER */
      .bx-wrapper .bx-loading {
        min-height: 50px;
        background: $fontNavColor;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
      }
      /* PAGER */
      .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: $background;
        padding-top: 20px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        background: $fontNavColor;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a:hover,
      .bx-wrapper .bx-pager.bx-default-pager a.active,
      .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $fontNavColorHover;
      }
      .bx-wrapper .bx-pager-item,
      .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        vertical-align: bottom;
        *zoom: 1;
        *display: inline;
      }
      .bx-wrapper .bx-pager-item {
        font-size: 0;
        line-height: 0;
      }
      /* DIRECTION CONTROLS (NEXT / PREV) */
      .bx-wrapper .bx-prev {
        left: 0;
        background: url('/images/controls.png') no-repeat 0 -32px;
      }
      .bx-wrapper .bx-prev:hover,
      .bx-wrapper .bx-prev:focus {
        background-position: 0 -32px;
      }
      .bx-wrapper .bx-next {
        right: 0;
        background: url('/images/controls.png') no-repeat -43px -32px;
      }
      .bx-wrapper .bx-next:hover,
      .bx-wrapper .bx-next:focus {
        background-position: -43px -32px;
      }
      .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
      }
      .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
      }
      /* AUTO CONTROLS (START / STOP) */
      .bx-wrapper .bx-controls-auto {
        text-align: center;
      }
      .bx-wrapper .bx-controls-auto .bx-start {
        display: block;
        text-indent: -9999px;
        width: 10px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -11px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-start:hover,
      .bx-wrapper .bx-controls-auto .bx-start.active,
      .bx-wrapper .bx-controls-auto .bx-start:focus {
        background-position: -86px 0;
      }
      .bx-wrapper .bx-controls-auto .bx-stop {
        display: block;
        text-indent: -9999px;
        width: 9px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -44px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-stop:hover,
      .bx-wrapper .bx-controls-auto .bx-stop.active,
      .bx-wrapper .bx-controls-auto .bx-stop:focus {
        background-position: -86px -33px;
      }
      /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
      }
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
      }
      /* IMAGE CAPTIONS */
      .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666;
        background: $fontNavColor;
        width: 100%;
      }
      .bx-wrapper .bx-caption span {
        color: $fontNavColor;
        display: block;
        font-size: .85em;
        padding: 10px;
      }
    }
  }
  // =PRICE
  #sectionPrices {
    & > .prices-wrapper {
      & > div {
        & > p {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background:  $fontNavBackground;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 101;
    margin: 0;
    min-height: 6rem;
    width: 100vw;
    border-bottom: 1px solid $fontNavColor;
    transition: $animation;
  }

  .navlabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    margin: auto;
    transition: $animation;
    min-height: 6rem;
  }

  .navlabel:first-child {
    margin-left: 8%;
  }

  .navlabel:last-child {
    margin-right: 8%;
  }

  .navlabel:hover {
    background: $fontNavBackgroundHover;
    & > .navtext {
      color: $fontNavColorHover;
    }
  }

  .navtext {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    letter-spacing: 1px;
    color: $fontNavColor;
    user-select: none;
    transition: $animation;
    line-height: 100%;
  }
  // =GENERAL
  .page-title {
    font: {
      family: $fontNav;
      size: 4rem;
    }
    margin: 2rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
  }
  .page-paragraph {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    padding: 0 4rem;
    margin: 2rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
  }
  // =HEADER
  #sectionHeader {
    width: 100vw;
    height: 100vh;
    background: {
      image: url('/images/page-main.jpg');
      position-x: center;
      position-y: 55%;
      size: cover;
      repeat: no-repeat;
    }
    position: relative;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 75vw;
    max-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-wrapper;
    border-radius: $radius;
  }
  // =STUDENTS SUCCESS
  #sectionSuccessPanel {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-success.jpg');
      position: center center;
      size: cover;
      repeat: no-repeat;
    }
    .success-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      width: 75vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;
      & > .p-hidden {
        display: none;
      }
      /** VARIABLES
  ===================================*/
      /** RESET AND LAYOUT
      ===================================*/
      .bx-wrapper {
        position: relative;
        margin-bottom: 6rem;
        padding: 0;
        *zoom: 1;
        touch-action: pan-y;
      }
      .bx-wrapper img {
        max-width: 100%;
        display: block;
      }
      .bxslider {
        margin: 0;
        padding: 0;
      }
      ul.bxslider {
        list-style: none;
      }
      .bx-viewport {
        /*fix other elements on the page moving (on Chrome)*/
        -webkit-transform: translatez(0);
      }
      /** THEME
      ===================================*/
      .bx-wrapper {
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        border: 5px solid $fontNavBackground;
        background: $fontNavBackground;
      }
      .bx-wrapper .bx-pager,
      .bx-wrapper .bx-controls-auto {
        position: absolute;
        width: 100%;
      }
      /* LOADER */
      .bx-wrapper .bx-loading {
        min-height: 50px;
        background: $fontNavColor;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
      }
      /* PAGER */
      .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: $background;
        padding-top: 20px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        background: $fontNavColor;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a:hover,
      .bx-wrapper .bx-pager.bx-default-pager a.active,
      .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $fontNavColorHover;
      }
      .bx-wrapper .bx-pager-item,
      .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        vertical-align: bottom;
        *zoom: 1;
        *display: inline;
      }
      .bx-wrapper .bx-pager-item {
        font-size: 0;
        line-height: 0;
      }
      /* DIRECTION CONTROLS (NEXT / PREV) */
      .bx-wrapper .bx-prev {
        left: -50px;
        background: url('/images/controls.png') no-repeat 0 -32px;
      }
      .bx-wrapper .bx-prev:hover,
      .bx-wrapper .bx-prev:focus {
        background-position: 0 -32px;
      }
      .bx-wrapper .bx-next {
        right: -50px;
        background: url('/images/controls.png') no-repeat -43px -32px;
      }
      .bx-wrapper .bx-next:hover,
      .bx-wrapper .bx-next:focus {
        background-position: -43px -32px;
      }
      .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
      }
      .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
      }
      /* AUTO CONTROLS (START / STOP) */
      .bx-wrapper .bx-controls-auto {
        text-align: center;
      }
      .bx-wrapper .bx-controls-auto .bx-start {
        display: block;
        text-indent: -9999px;
        width: 10px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -11px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-start:hover,
      .bx-wrapper .bx-controls-auto .bx-start.active,
      .bx-wrapper .bx-controls-auto .bx-start:focus {
        background-position: -86px 0;
      }
      .bx-wrapper .bx-controls-auto .bx-stop {
        display: block;
        text-indent: -9999px;
        width: 9px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -44px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-stop:hover,
      .bx-wrapper .bx-controls-auto .bx-stop.active,
      .bx-wrapper .bx-controls-auto .bx-stop:focus {
        background-position: -86px -33px;
      }
      /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
      }
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
      }
      /* IMAGE CAPTIONS */
      .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666;
        background: $fontNavColor;
        width: 100%;
      }
      .bx-wrapper .bx-caption span {
        color: $fontNavColor;
        display: block;
        font-size: .85em;
        padding: 10px;
      }
    }
  }
  // =SECTION VIDEO
  #sectionLessonsVideo {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-video.jpg');
      position: center center;
      size: cover;
      repeat: no-repeat;
    }

    & > .video-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      width: 75vw;
      height: auto;
      max-height: 100vh;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > #video {
        width: 426px;
        height: 240px;
      }

      & > .video-button {
        font: {
          family: $fontNav;
          size: 2rem;
        }
        line-height: 2.2rem;
        padding: 1.5rem 5rem;
        border-radius: $radius;
        margin: 4rem 0;
        color: $fontNavColor;
        background-color: $fontNavBackground;
        transition: $animation;

        &:hover {
          color: $fontNavColorHover;
          background-color: $fontNavBackgroundHover;
        }
      }
    }
  }
  // =REFERENCES
  #sectionReferences {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-reference.jpg');
      position-x: center;
      position-y: 60%;
      size: cover;
      repeat: no-repeat;
    }
    & > .references-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      width: 75vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > .bx-wrapper {
        & > .bx-viewport {
          & > .bxslider {
            & > .references-page {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              align-items: center;
              & > .references-paragraph {
                font: {
                  family: $fontDecoration;
                  size: 2.6rem;
                }
                line-height: 2.6rem;
                width: 90%;
                color: $fontNavBackground;
              }
              & > .references-author {
                font: {
                  family: $fontNav;
                  size: 2rem;
                }
                color: $fontNavColorHover;
                margin: 0;
                padding: 0 0 5rem 0;
                width: 90%;
              }
            }
          }
        }
        & > .bx-controls {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          top: 0;
          left: 0;
          font: {
            family: $fontNav;
          }
          & > .bx-controls-direction {
            & > .bx-prev {
              display: none;
            }
            & > .bx-next {
              display: none;
            }
          }
          & > .bx-pager {
            text-align: center;
            font-size: .85em;
            font-weight: bold;
            color: #666;
            & > .bx-pager-item {
              margin: 2.5rem 1rem;
              display: inline-block;
              vertical-align: bottom;
              & > .bx-pager-link {
                font: {
                  size: 2rem;
                }
              }
              & > .bx-pager-link.active {
                color: $fontNavColorHover;
              }
            }
          }
        }
      }
    }
  }
  // =PRICE
  #sectionPrices {
    width: 100%;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-prices.jpg');
      position-x: center;
      position-y: 70%;
      size: cover;
      repeat: no-repeat;
    }
    & > .prices-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      width: 75vw;
      height: auto;
      max-height: 100vh;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > div {
        text-align: center;
        border-top: 2px $fontNavColorHover solid;
        width: 60%;
      }

      & > div > p {
        font: {
          family: $fontDecoration;
          size: 3rem;
        }
        color: $fontNavBackground;
      }

      & > div > p > .prices-color {
        color: $fontNavColorHover;
      }
    }
  }
  // =CONTACT
  #sectionContact {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-contact.jpg');
      position-x: center;
      position-y: 95%;
      size: cover;
      repeat: no-repeat;
    }
    & > .contact-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      width: 75vw;
      height: auto;
      max-height: 100vh;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > div {
        text-align: center;
        border-top: 2px $fontNavColorHover solid;
        width: 60%;
      }

      & > div > p {
        font: {
          family: $fontDecoration;
          size: 3rem;
        }
        color: $fontNavBackground;
      }

      & > div > .contact-color {
        color: $fontNavColorHover;
      }
    }
  }
}

@media only screen  and (min-width: 1280px) {
  .hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: $fontNavBackground;
    border: 0 solid transparent;
    letter-spacing: 1px;
    z-index: 101;
    margin: 0;
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid $fontNavColor;
    transition: $animation;
  }

  .navlabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: auto;
    transition: $animation;
    height: 50px;
  }

  .navlabel:first-child {
    margin-left: 8%;
  }

  .navlabel:last-child {
    margin-right: 8%;
  }

  .navlabel:hover {
    background: $fontNavBackgroundHover;
    & > .navtext {
      color: $fontNavColorHover;
    }
  }

  .navtext {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    letter-spacing: 1px;
    color: $fontNavColor;
    user-select: none;
    transition: $animation;
    line-height: 100%;
  }
  // =GENERAL
  .page-title {
    font: {
      family: $fontNav;
      size: 3rem;
    }
    margin: 2rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
  }
  .page-paragraph {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    padding: 0 4rem;
    margin: 2rem 0;
    text-align: center;
    color: $fontNavColorHover;
    letter-spacing: 1px;
    overflow: hidden;
  }
  .page-link {
    font: {
      family: $fontNav;
      size: 1.6rem;
    }
    text-align: center;
    color: $fontNavColor;
    letter-spacing: 1px;
    &:hover {
      color: $fontNavBackgroundHover;
    }
  }
  // =HEADER
  #sectionHeader {
    width: 100%;
    height: 100vh;
    background: {
      image: url('/images/page-main.jpg');
      position-x: center;
      position-y: 55%;
      size: cover;
      repeat: no-repeat;
    }
    position: relative;
    & > .header-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 5rem;
      padding-bottom: 2rem;
      width: 50vw;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;
      & > .header-text {
        font: {
          family: $fontNav;
          size: 1.6rem;
        }
        padding: 0 2rem;
        margin: 2rem 0;
        text-align: center;
        color: $fontNavColorHover;
        letter-spacing: 1px;
        overflow: hidden;
        & > ol {
          & > li {
            list-style-type: none;
          }
        }
      }
      & > .page-link {
        position: relative;
      }
    }
  }

  // =SECTION VIDEO
  #sectionLessonsVideo {
    width: 100%;
    height: 100vh;
    background: {
      image: url('/images/page-video.jpg');
      position-x: center;
      position-y: 55%;
      size: cover;
      repeat: no-repeat;
    }
    position: relative;
    & > .video-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
      position: absolute;
      width: 50vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > #video {
        width: 640px;
        height: 360px;
      }

      & > .video-button {
        font: {
          family: $fontNav;
          size: 2rem;
        }
        line-height: 2.2rem;
        padding: 1.5rem 3rem;
        border-radius: $radius;
        margin: 2rem 0;
        color: $fontNavColor;
        background-color: $fontNavBackground;
        transition: $animation;

        &:hover {
          color: $fontNavColorHover;
          background-color: $fontNavBackgroundHover;
        }
      }
    }
  }
  // =STUDENTS SUCCESS
  #sectionSuccessPanel {
    width: 100%;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-success.jpg');
      position-x: center;
      position-y: 70%;
      size: cover;
      repeat: no-repeat;
    }
    & > .success-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 2rem;
      width: 50vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;
      & > .p-hidden {
        display: none;
      }
      /** VARIABLES
  ===================================*/
      /** RESET AND LAYOUT
      ===================================*/
      .bx-wrapper {
        position: relative;
        margin-bottom: 6rem;
        padding: 0;
        *zoom: 1;
        touch-action: pan-y;
      }
      .bx-wrapper img {
        max-width: 100%;
        display: block;
      }
      .bxslider {
        margin: 0;
        padding: 0;
      }
      ul.bxslider {
        list-style: none;
      }
      .bx-viewport {
        /*fix other elements on the page moving (on Chrome)*/
        -webkit-transform: translatez(0);
      }
      /** THEME
      ===================================*/
      .bx-wrapper {
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        border: 5px solid $fontNavBackground;
        background: $fontNavBackground;
      }
      .bx-wrapper .bx-pager,
      .bx-wrapper .bx-controls-auto {
        position: absolute;
        width: 100%;
      }
      /* LOADER */
      .bx-wrapper .bx-loading {
        min-height: 50px;
        background: $fontNavColor;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
      }
      /* PAGER */
      .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        color: $background;
        padding-top: 20px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        background: $fontNavColor;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a:hover,
      .bx-wrapper .bx-pager.bx-default-pager a.active,
      .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $fontNavColorHover;
      }
      .bx-wrapper .bx-pager-item,
      .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        display: inline-block;
        vertical-align: bottom;
        *zoom: 1;
        *display: inline;
      }
      .bx-wrapper .bx-pager-item {
        font-size: 0;
        line-height: 0;
      }
      /* DIRECTION CONTROLS (NEXT / PREV) */
      .bx-wrapper .bx-prev {
        left: -50px;
        background: url('/images/controls.png') no-repeat 0 -32px;
      }
      .bx-wrapper .bx-prev:hover,
      .bx-wrapper .bx-prev:focus {
        background-position: 0 -32px;
      }
      .bx-wrapper .bx-next {
        right: -50px;
        background: url('/images/controls.png') no-repeat -43px -32px;
      }
      .bx-wrapper .bx-next:hover,
      .bx-wrapper .bx-next:focus {
        background-position: -43px -32px;
      }
      .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
      }
      .bx-wrapper .bx-controls-direction a.disabled {
        display: none;
      }
      /* AUTO CONTROLS (START / STOP) */
      .bx-wrapper .bx-controls-auto {
        text-align: center;
      }
      .bx-wrapper .bx-controls-auto .bx-start {
        display: block;
        text-indent: -9999px;
        width: 10px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -11px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-start:hover,
      .bx-wrapper .bx-controls-auto .bx-start.active,
      .bx-wrapper .bx-controls-auto .bx-start:focus {
        background-position: -86px 0;
      }
      .bx-wrapper .bx-controls-auto .bx-stop {
        display: block;
        text-indent: -9999px;
        width: 9px;
        height: 11px;
        outline: 0;
        background: url('/images/controls.png') -86px -44px no-repeat;
        margin: 0 3px;
      }
      .bx-wrapper .bx-controls-auto .bx-stop:hover,
      .bx-wrapper .bx-controls-auto .bx-stop.active,
      .bx-wrapper .bx-controls-auto .bx-stop:focus {
        background-position: -86px -33px;
      }
      /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: 80%;
      }
      .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 0;
        width: 35px;
      }
      /* IMAGE CAPTIONS */
      .bx-wrapper .bx-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #666;
        background: $fontNavColor;
        width: 100%;
      }
      .bx-wrapper .bx-caption span {
        color: $fontNavColor;
        display: block;
        font-size: .85em;
        padding: 10px;
      }
    }
  }
  // =REFERENCES
  #sectionReferences {
    width: 100%;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-reference.jpg');
      position-x: center;
      position-y: 60%;
      size: cover;
      repeat: no-repeat;
    }
    & > .references-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      margin-top: 5rem;
      width: 50vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > .bx-wrapper {
        & > .bx-viewport {
          height: 90vh;
          & > .bxslider {
            & > .references-page {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              align-items: center;
              & > .references-paragraph {
                font: {
                  family: $fontDecoration;
                  size: 2.4rem;
                }
                line-height: 2.4rem;
                width: 90%;
                color: $fontNavBackground;
              }
              & > .references-author {
                font: {
                  family: $fontNav;
                  size: 2rem;
                }
                color: $fontNavColorHover;
                margin-top: 1rem;
                padding: 0 0 2rem 0;
                width: 90%;
              }
            }
          }
        }
        & > .bx-controls {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          top: 0;
          left: 0;
          font: {
            family: $fontNav;
          }
          & > .bx-controls-direction {
            & > .bx-prev {
              display: none;
            }
            & > .bx-next {
              display: none;
            }
          }
          & > .bx-pager {
            text-align: center;
            font-size: .85em;
            font-weight: bold;
            color: #666;
            & > .bx-pager-item {
              margin: 2rem 1rem;
              display: inline-block;
              vertical-align: bottom;
              & > .bx-pager-link {
                font: {
                  size: 2rem;
                }
              }
              & > .bx-pager-link.active {
                color: $fontNavColorHover;
              }
            }
          }
        }
      }
    }
  }
  // =PRICE
  #sectionPrices {
    width: 100%;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-prices.jpg');
      position-x: center;
      position-y: 70%;
      size: cover;
      repeat: no-repeat;
    }

    & > .prices-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
      position: absolute;
      margin-top: 5rem;
      width: 50vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-top: 2px $fontNavColorHover solid;
        width: 60%;
      }

      & > div > p {
        font: {
          family: $fontDecoration;
          size: 3rem;
        }
        width: 100%;
        color: $fontNavBackground;
      }

      & > div > p > .prices-color {
        color: $fontNavColorHover;
      }
    }
  }
  // =CONTACT
  #sectionContact {
    width: 100%;
    height: 100vh;
    position: relative;
    background: {
      image: url('/images/page-contact.jpg');
      position-x: center;
      position-y: 95%;
      size: cover;
      repeat: no-repeat;
    }

    & > .contact-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
      position: absolute;
      margin-top: 5rem;
      width: 50vw;
      height: auto;
      max-height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $background-wrapper;
      border-radius: $radius;

      & > div {
        display: flex;
        justify-content: center;
        border-top: 2px $fontNavColorHover solid;
        width: 60%;
      }

      & > div > p {
        font: {
          family: $fontDecoration;
          size: 3rem;
        }
        text-align: center;
        color: $fontNavBackground;
      }

      & > div > .contact-color {
        color: $fontNavColorHover;
      }
    }
  }
  // =GALLERY
  .gallery-wrapper {
    background: #100000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    & > .glide {
      & > .glide__wrapper {
        & > .glide__track {
          & > .glide__slide {
            & > .gallery-image {
              display: block;
              margin: 0 auto;
              height: 100vh;
            }
          }
        }
      }
    }
  }
  #back {
    position: absolute;
    bottom: 10px;
    left: 50%;
    translateX: (-50%);
  }
}

// =LOADER

#sectionLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  & > #loader_bg_left { left: 0; }
  & > #loader_bg_right { right: 0; }
  & > .loader_bg_half {
    background: $fontNavBackground;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  & > #loader-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    z-index: 10001;
    & > .loader-paragraph {
      font: {
        family: $fontNav;
        size: 2rem;
      }
      letter-spacing: 1px;
      width: 100%;
      margin: 0 0 2rem 0;
      color: $fontNavColor;
      text-align: center;
    }
    & > .loader-dots {
      display: flex;
      justify-content: center;
      & > .loader-dot {
        background: $fontNavColor;
        float: left;
        animation-iteration-count: infinite;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        margin: .5rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
      }
      & > .dot_1 {
        animation-name: dot_1;
      }
      & > .dot_2 {
        animation-name: dot_2;
      }
      & > .dot_3 {
        animation-name: dot_3;
      }
      & > .dot_4 {
        animation-name: dot_4;
      }
    }
  }
}

@keyframes dot_1 {
  0% {
    background: $fontNavColor;
    transform: translateY(0);
  }
  25% {
    background: $fontNavColorHover;
    transform: translateY(-10px);
  }
  50% {
    background: $fontNavColor;
    transform: translateY(0);
  }
}

@keyframes dot_2 {
  25% {
    background: $fontNavColor;
    transform: translateY(0);
  }
  50% {
    background: $fontNavColorHover;
    transform: translateY(-10px);
  }
  75% {
    background: $fontNavColor;
    transform: translateY(0);
  }
}

@keyframes dot_3 {
  50% {
    background: $fontNavColor;
    transform: translateY(0);
  }
  75% {
    background: $fontNavColorHover;
    transform: translateY(-10px);
  }
  100% {
    background: $fontNavColor;
    transform: translateY(0);
  }
}

@keyframes dot_4 {
  75% {
    background: $fontNavColor;
    transform: translateY(0);
  }
  100% {
    background: $fontNavColorHover;
    transform: translateY(-10px);
  }
  25% {
    background: $fontNavColor;
    transform: translateY(0);
  }
}
